/* Set Dashboard sidebar width to 250px */
.MuiDrawer-paper {
  width: 250px;
}
html {
  overflow: hidden;
}

.app-js-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter-menu ul {
  display: flex;
  flex-direction: column;
}

.appbar-context-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}